@import "tailwindcss";

@theme {
  /* Brand Colors */
  --color-primary: #2563eb;
  /* blue-600 */
  --color-primary-hover: #90d5ff;
  /* blue-700 */
  --color-secondary-hover: #1d4ed8;

  /* Backgrounds */
  --color-background: #01022c;
  --color-background-page: #010221;
  --color-surface: #1f1f1f;
  --color-surface-hover: #2a2a2a;

  /* Text */
  --color-text-main: #f8fafc;
  --color-text-secondary: #94a3b8;
  --color-text-muted: #717171;

  /* Borders */
  --color-border: #333333;

  /* Status */
  --color-error: #ef4444;
  /* red-500 */
}